<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  Hello page

<p> Age 이상 검색: <span th:text="${age}"></span></p>
<table>
    <thead>
    <tr><td>id</td><td>name</td><td>age</td></tr>
    </thead>
    <tbody>
        <tr th:each="user:${users}">
            <td th:text="${user.id}">id</td>
            <td th:text="${user.name}">name</td>
            <td th:text="${user.age}">age</td>
        </tr>
    </tbody>
</table>

<div>
    <span> page: <span th:text="${currentPage+1}"></span> of <span th:text="${totalPages}"></span></span>

    <div>
        <a th:href="@{users(age=${age},page=${currentPage-1},size=${size})}" th:if="${currentPage > 0}">Previous</a>
        <a th:href="@{users(age=${age},page=${currentPage+1},size=${size})}" th:if="${currentPage < totalPages - 1}">Next</a>
    </div>

</div>




</body>
</html>